body{
    font-family: 'Poppins', sans-serif;
}
nav.navbar.navbar-expand-lg.navbar-light.fixed-top {
    background: honeydew;
}
section.home-area {
    background: #F0FFF0;
    
     height: 576px;
    padding: 98px 0px;
}
button.btn.btn-outline-success.my-2.my-sm-0.sing-btn {
    background: #21B573;
    color: white;
    border-radius: 33px;
    padding: 12px 28px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
}

a.nav-link {
    font-size: 16px;
    line-height: 24px;
    color: #000!important;
    margin: 10px 0;
    font-weight: 400;
}
.col-md-6.bannar-disc h6 {
    color: #FD511A;
    font-size: 16px;
    line-height: 24px;
}
.col-md-6.bannar-disc h1 {
    font-size: 48px;
    line-height: 70px;
    font-weight: bold;
    color: black;
}
.col-md-6.bannar-disc span {
    color: #21B573;
}
.col-md-6.bannar-disc {
    font-size: 16px;
    line-height: 36px;
    color: #6C6B6B;
}
button.btn.btn-outline-success.my-2.my-sm-0.get-btn {
    background: #21B573;
    color: white;
    border-radius: 33px;
    padding: 12px 36px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
    
    
}
section.service-area {
    padding: 50px 0px;
}

.box {
    width: 245px;
    height: 270px;
    background: #F8FFFB;
    border-radius: 10px;
    margin: 20px;
     padding: 10px; 
}



.box:hover {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px 0px #0000000f;
}

.box h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #413960;
    padding-top: 20px;
}
.box p {
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}
h5.card-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #413960
}
p.card-text {
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}
button.btn.btn-outline-success.my-2.my-sm-0.buy-btn {
    background: #21B573;
    color: white;
    border-radius: 33px;
    padding: 8px 28px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
}
.card {
    padding: 20px;
}
.card-footer {
    padding: .75rem 1.25rem;
    
    background-color: white;
     border-top: none
}
.title h1 {
    font-size: 36px;
    line-height: 54px;
    color: #413960;
    font-weight: 700;
    padding:50px 0px
}
.card {
    box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 0.1);
    border-radius: 18px;
    border: none;
    background: white;
}
section.testimonial-area p {
    width: 580px;
    height: 90px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 36px;
}
section.testimonial-area {
    padding-bottom: 127px;
    padding-top: 80px;
}
footer{
    padding: 50px 0px;
    height: 382px;
    background-color:#282531 ;
}
footer p {
    color: white;
    font-size: 16px;
    line-height: 30px;
}


.footer-disc {
    width: 364px;
    height: 60px;
}
.list-group-horizontal {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 170px;
    margin: 0px 44px;
    height: 181px;
}

footer ul li {
    color: white;
    list-style: none;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
}
p.text-center.fot {
    padding-top: 100px;
    padding-bottom: 20px;
}
